// .result {

// }

body {
  margin-left: 20px;
}

.title {
  font-size: 40px;
  margin: 20px;
  text-align: center;
  color: #ff8d76;
}

.nanny-card {
  background-color: white;
  padding: 16px;
  padding-top: 0;
  margin: 16px;
  border-radius: 15px;
  display:flex;
  align-items: center;
  flex-direction: column;
  max-height: fit-content;
  max-width: 260px;
  box-shadow: 0px 0px 1px 1px rgb(189, 179, 179);
}
.nanny-card li {
  list-style: none;

}
.nanny-card .info {
  text-align: center;
}
.nanny-card ul {
  padding-left: 0;
}
.nanny-card .info .firstname{
font-weight: bold;
font-size: 20px;
color: #7897ab;
}
.nanny-card .info .lastname{
  font-weight: bold;
  font-size: 20px;
  color: #7897ab;
  }

.nanny-card .info a {
  // border: gray solid 1px;
  // border-radius: 4px;
  text-decoration: none;
  color:#0A98DD ;
}
.nanny-card .info a:hover {
  color:#56cbb8 ;
  font-weight: 500;
}
.nanny-card .info .delete:hover {
  color: #ff8d76;
  font-weight: 600;

}
.nanny-card .info .book {
  border: solid lightgray 1px;
  border-radius: 4px;
  padding: 6px 10px;


}
.nanny-card .info .book :hover{
  font-weight: 600;
  border: solid grey 1px;
}

.result {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  // grid-gap: 10px;
}
.buttons {
  padding: 16px;
}
.buttons .button {
  border: solid lightgray 1px;
  border-radius: 4px;
  padding: 6px 10px;
  text-decoration: none;
  color:#0A98DD;
  margin: 0 20px;
}

.buttons .button:hover {
  font-weight: 600;

}
.my-nanny {
  text-align:right ;
  font-size: 10px;
  color: #ff8d76;

}
.my-nanny i{
  font-size: 16px;
}
.info .li-address{
  color: #54aedc;
}
.info .span .£{
  font-weight: bold;
  font-size: 20px;
}

.nanny-card .profimg{
  background-color: rgb(169, 217, 209);
  width: 260px;
  height: 190px;
  // text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;

}
.nanny-card .profimg img {
  border-radius: 50%;

  // text-align: center;
  // display: table-cell;
  // vertical-align: middle;
}
