// .result {

// }

body {
  margin-left: 20px;
}

.title {
  font-size: 40px;
  margin: 20px;
  text-align: center;
  color: #ff8d76;
}

.nanny-card {
  background-color: white;
  padding: 16px;
  padding-top: 0;
  margin: 16px;
  margin-top: 0;
  border-radius: 15px;
  display:flex;
  align-items: center;
  flex-direction: column;
  max-height: fit-content;
  max-width: 260px;
  box-shadow: 2px 1Px 1px rgb(215, 224, 236);
  position: relative;
}
.nanny-card:hover{
  border: solid rgb(189, 188, 188) 1px;
}
.nanny-card li {
  list-style: none;

}
.nanny-card .info {
  text-align: center;

}
.nanny-card ul {
  padding-left: 0;
}
.nanny-card .info .firstname{
font-weight: bold;
font-size: 20px;
color: #7897ab;
}
.nanny-card .info .lastname{
  font-weight: bold;
  font-size: 20px;
  color: #7897ab;
  }

.nanny-card .info a {
  // border: gray solid 1px;
  // border-radius: 4px;
  text-decoration: none;
  color:#0A98DD ;
}
.nanny-card .info a:hover {
  color:#56cbb8 ;
  font-weight: 500;
}
.nanny-card .info .delete:hover {
  color: #ff8d76;
  font-weight: 600;

}
.nanny-card .prof-links{
  text-align: center;
}
.nanny-card .prof-links a.book {
  border: solid lightgray 1px;
  border-radius: 4px;
  padding: 6px 10px;
  text-decoration: none;
  // background-color: #5f7cefad;
  font-weight: 400;
  color: rgb(76, 135, 230);
  position: absolute;
  bottom: 10px;
  text-align: center;



}
.nanny-card .prof-links a.book:hover{
  // font-weight: 600;
  border: solid grey 1px;
  font-weight: 600;
  color: rgb(154, 151, 188);
  // background-color: rgb(202, 224, 249);
  box-shadow: 2px 1Px 1px rgb(215, 224, 236);
}

.nanny-card .prof-links a.edit {
  border: solid lightgray 1px;
  border-radius: 4px;
  padding: 6px 10px;
  text-decoration: none;
  // background-color: #5f7cefad;
  font-weight: 400;
  color: rgb(76, 135, 230);
  // position: absolute;
  // bottom: 10px;
  text-align: center;

}
.nanny-card .prof-links a.edit:hover{
  // font-weight: 600;
  border: solid grey 1px;
  font-weight: 600;
  color: rgb(154, 151, 188);
  // background-color: rgb(202, 224, 249);
  box-shadow: 2px 1Px 1px rgb(215, 224, 236);
}
.nanny-card .prof-links a.delete {
  border: solid lightgray 1px;
  border-radius: 4px;
  padding: 6px 10px;
  text-decoration: none;
  // background-color: #5f7cefad;
  font-weight: 400;
  color: rgb(76, 135, 230);
  // position: absolute;
  // bottom: 10px;
  text-align: center;

}
.nanny-card .prof-links a.delete:hover{
  // font-weight: 600;
  border: solid grey 1px;
  font-weight: 600;
  color: rgb(246, 152, 108);
  // background-color: rgb(202, 224, 249);
  box-shadow: 2px 1Px 1px rgb(215, 224, 236);
}

.result {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 10px;
}
@media(max-width: 992px) {
  .result {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .result {
    grid-template-columns: 1fr;
  }
}
.buttons {
  padding: 16px;
}
.buttons .button {
  border: solid lightgray 1px;
  border-radius: 4px;
  padding: 6px 10px;
  text-decoration: none;
  color:#0A98DD;
  margin: 0 20px;
}

.buttons .button:hover {
  font-weight: 600;

}
.my-nanny {
  text-align:right ;
  font-size: 10px;
  color: #ff8d76;

}
.my-nanny i{
  font-size: 16px;
}
.info .li-address{
  color: #54aedc;
}
.info .span .£{
  font-weight: bold;
  font-size: 20px;
}

.nanny-card .profimg{
  background-color: rgb(169, 217, 209);
  width: 260px;
  height: 190px;
  // text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;

}
.nanny-card .profimg img {
  border-radius: 50%;

  // text-align: center;
  // display: table-cell;
  // vertical-align: middle;
}
.search{
  display: flex;
  justify-content: space-between;

}

@media(max-width: 1000px) {
  .search {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .search {
    grid-template-columns: 1fr;
  }
}
// .map{

//   border-radius: 10px;
//   margin: 16px;
//   width: 60%;

// }

.mapboxgl-map{
  position: sticky;
  top: 10px;

}
// .mapboxgl-canary{
//   padding-top: 20px;
// }
