// .result {

// }

body {
  margin-left: 20px;
}

.title {
  font-size: 30px;
  margin: 20px;
}

.nanny-card {
  background-color:#fcfdff;
  padding: 16px;
  margin: 16px;
  border-radius: 6px;
  display:flex;
  align-items: center;
  max-height: 300px;
}
.nanny-card li {
  list-style: none;

}
.nanny-card .info .firstname{
font-weight: bold;
font-size: 20px;
color: #7897ab;
}
.nanny-card .info .lastname{
  font-weight: bold;
  font-size: 20px;
  color: #7897ab;
  }

.nanny-card .info a {
  // border: gray solid 1px;
  // border-radius: 4px;
  text-decoration: none;
  color:#0A98DD ;
}
.nanny-card .info a:hover {
  color:#56cbb8 ;
  font-weight: 500;
}
.nanny-card .info .delete:hover {
  color: #ff8d76;
  font-weight: 600;

}
.nanny-card .info .book {
  border: solid lightgray 1px;
  border-radius: 4px;
  padding: 6px 10px;


}
.nanny-card .info .book :hover{
  font-weight: 600;
  border: solid grey 1px;
}

.result {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.buttons {
  padding: 16px;
}
.buttons .button {
  border: solid lightgray 1px;
  border-radius: 4px;
  padding: 6px 10px;
  text-decoration: none;
  color:#0A98DD;
  margin: 0 20px;
}

.buttons .button:hover {
  font-weight: 600;

}
.my-nanny {
  text-align:right ;
  font-size: 10px;
  color: #ff8d76;

}
.my-nanny i{
  font-size: 16px;
}
