// Specific CSS for your home-page
.banner {
  text-align: center;
  padding-bottom: 32px;
  // margin-left: 100px;
  // margin-right: 100px;
}
.banner h1 {
  color: #0A98DD;
}
.banner i {
  color:#7897ab;
  opacity: 0.4;
}
.CTA {
  text-align: center;
  height: 200px;
  width: auto;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #cdf0ea;
  color: #7897ab;
  padding: 80px 0;

  // margin-left: 100px;
  // margin-right: 100px;
}
// .CTA h3 {
//   padding-bottom: 50px;
// }
.CTA p{
  padding-bottom: 24px;
  font-size: 10px;
}
.landing-img {
  background-image: url("app/assets/images/profiles.jpeg");
  object-fit: cover;
  height: 600px;
  width: auto;
  padding: 100px 80px;
  text-align: right;
  background-color: #cdf0ea;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;

  // margin-left: 100px;
  // margin-right: 100px;
}
.landing-img h3 {
  line-height: 48px;
}
.landing-img .grey{
  color: #7897ab; ;
}

.landing-img h3 .btn-succes a {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  color: #63696d;
  text-shadow: 2px;
  border: solid grey 1px;
  background-color: rgba(205, 240, 234, 0.4);
  opacity: 0.5;
  // margin: 0 24px;
  font-size: 20px;
  justify-content: space-around;
  text-align: center;
  font-weight: bold;
  // width: 150px;
}

.landing-img h3 .btn-succes a:hover {
  font-weight: bold;
  color: #0A98DD;
  box-shadow: 2px 2px 2px #7897ab;
}
img {
  border-radius: 5px;
}

.footer {
  text-align: center;
  line-height: 8px;
  padding-top: 32px;
  padding-bottom: 8px;
  // margin-left: 100px;
  // margin-right: 100px;
}

.footer li {
  text-decoration: none;
  display: inline;
  text-align: center;

}

.footer p{
  font-size: 10px;
}

.footer .info i{
  font-size: 16px;
}
.footer .follow {
  font-size: 16px;
}
.footer ul{
  padding-left: 0;
}
.footer i {
  font-size: 24px;
  padding: 16px;
}
.footer a {
  color: #0A98DD;
}
.footer a:hover {
  color: #7897ab;
}
