.headline {
  color: black;
  font-size: medium;
  font-weight: bolder;
  background-color: grey;
}

.profile {
  margin: 80px 100px;
}

.btn-dark {
  justify-content: center;
}

.container {
  justify-content: space-between;
}

.dash {
  margin: 80px 100px;
}

.lastname {
  justify-content: center;
  align-items:flex-start;
}
