<h1>Nannies List</h1>
<br><br>


<div class="nanny-cards">
  <div class ='card'>
    <img src="#" alt="nanny 1">
    <h3>Nanny 1</h3>
    <a href="#">Profile</a>
  </div>

   <div class ='card'>
    <img src="#" alt="nanny 1">
    <h3>Nanny 2</h3>
    <a href="#">Profile</a>
  </div>

   <div class ='card'>
    <img src="#" alt="nanny 1">
    <h3>Nanny 3</h3>
    <a href="#">Profile</a>
  </div>

   <div class ='card'>
    <img src="#" alt="nanny 1">
    <h3>Nanny 4</h3>
    <a href="#">Profile</a>
  </div>
  
   <div class ='card'>
    <img src="#" alt="nanny 1">
    <h3>Nanny 5</h3>
    <a href="#">Profile</a>
  </div>
</div>



<%= link_to 'Back to search', 'search_a_nanny' %>
<%= link_to 'Dashboard', dashboard_path %>
