<h1>Find a Nanny !</h1>

<br>
<br>

<div class="nanny-form">
  <form>
    <input type="date" name="Start date">
    <input type="date" name="End date">
    <input type="text" name="Address" placeholder="Where?">
    <input type="text" name="Number of kids"placeholder="1, 2, 3 ...">
    <input type="submit" value="Search">
  </form>
</div>

<%= link_to 'Results' , nanny_index_path%>
<%= link_to 'Dashboard', dashboard_path %>
