<h1> My Dashboard </h1>
<ul>
  <li><a href="#">I am a Nanny</a></li>
  <li><a href="#">I am a Family</a></li>
  <li><a href="#"> Bookings history</a></li>
  <li><a href="#">Favorites</a></li>
  <li><a href="#">Messages</a></li>
</ul>


<br>
<br>
<br>

<a href="#">My profile</a>
<%= link_to "Log out", root_path %>
<%# <a href="#">Log out</a> %>
