<div class= 'banner'>
  <h1> <i class="fa-solid fa-children"></i> Nanny & Kids <i class="fa-solid fa-children"></i></h1>
</div>

<div class='CTA'>
  <h3>Find your Nanny in one click!</h3>
  <a class="btn-succes"href="#">Sign Up</a>
  <a class="btn-succes" href="#">Sign In</a>
</div>

<div class="landing-img">
<h3>Check out the nannies profiles, <br> Propose your services</h3>
<img src="app/assets/images/profiles.jpeg" alt="profiles list">
</div>

<div class= 'footer'>
  <p>Follow Us !</p>
  <ul>
    <li><a href="#">Instagram</a></li>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Youtube</a></li>
  </ul>
  <p>Copyright nannynkids.herokuapp.com - All rights reserved.
  <a href="#">contact@nannynkids.com</a></p>
</div>
