<div class= 'banner'>
  <h1>Nanny N Kids</h1>
  <p>Find your Nanny in one click!</p>
</div>



<div class='container'>
  <a href="#">Sign Up</a>
  <a href="#">Sign In</a>

</div>



<div class= 'footer'>
  <p>Follow Us !</p>
  <ul>
    <li><a href="#">Instagram</a></li>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Youtube</a></li>
  </ul>
</div>
