.container {
  width: 900px;
  height: 500px;
  padding: 20px;
  background: white;
/*   font-size: 0; */
  position: relative;
/*   animation: slideInFromLeft 1s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
  border-radius: 8px;
  border-color: cadetblue;
}

.nanny-choice {
  background-image: url("app/assets/images/booknanny.jpeg");
  font-size: 15px;
}

.nanny-choice h3 {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
  text-transform: uppercase;
}

.nanny-choice .price span {
  font-size: 1.4rem;
  font-weight: 700;
}


.booking-info {
  padding: 20px;
}

.booking-info h3 {
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 25px;
}

.btn {
  padding: 15px 25px;
  margin-top: 30px;
  border: none;
  color: white;
  width: 100%;
  display: block;
  background: #50e7a8;
  text-transform: uppercase;
  border-radius: 6px;
}
